body {
    background:white; !important;
}
.card{
  border:none;
}

/* Top Bar*/

.topBar{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #EC008C;
  border:none;

}

#link{
  color: #FFFFFF; 
  font-size: 10pt;
}

#topBarLinks{
 text-align: right;
 color: white;
 padding:15px;
}

.btn {
  background-color: #EC008C;
  border:none;
  margin-right:7px;
  margin-left:-20px;
  margin-top:-31px;
  margin-bottom:-15px;
  /* padding: 7px; */
}
#submit{
  color:white; !important;
}

/* Top Banner*/
h1{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 43pt;
  margin-top:7%;
  }   


.topBanner {
    margin-top: 0%;
    margin-bottom:0%;
    color: #EC008C;
    text-align: center;
    border:none;
  }

  #search{
    margin-left: 30%;
    margin-right: 30%;
  }

  .card bg-dark text-white{
    width: 100%;
    height: 10%;
  }
/* Card bodies */


 .card-body{
  background-color:white;  
  
  /*background-color: #dee0e2;*/
 }
 .card-text{
   color: black;
   /*color:#dee0e2;*/
 }
 
  /*USER TILES*/
  
  .userContainer{
    background-color:white;
    padding: 0%;
    margin-top: 10%;
    margin-bottom:10%;
    margin-left: 15%;
    margin-right: 15%;
  }
  

/*Experience TILES*/
  
.experienceContainer{
  background-color:white;
  padding: 0%;
  margin-top: 10%;
  margin-bottom:10%;
  margin-left: 15%;
  margin-right: 15%;
}

#analyticsCard{
  margin-bottom: 5%;
}

#peopleStructureCard{
  margin-bottom: 5%;
}

#skillsIQCard{
  margin-bottom: 5%;
}


  /* PRODUCTS */

  .productContainer{
    background-color: white;  /**181818*/
    margin-top: 10%;
    margin-bottom:10%;
    margin-left: 15%;
    margin-right:15%;
    padding: 0%;
  }

  h4{
    color: black;
  }
  h5{
    color: #EC008C;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    } 
    
    h6{
      color: black;
    }

  #pluralsightCard {
    margin-left: 30%;
    margin-right: 10%;
  }

  #flowCard{
    margin-left: 0%;
    margin-right: 25%;
  }
  
  
/* TOPICS */
h2{
  color:#EC008C;
  /* color:#dee0e2; */
}

.topicsLine{
  background-color: #EC008C;
  padding: 1px;
  margin-top:20px;
  margin-bottom: 10px;
}

/* #topicsLine{
  background-color: #27b35d;
  margin-top:10px;
  margin-bottom: 10px;
} */

.topicsContainer{
    padding:0%;
    margin-right: 14%;
    margin-left: 14%;
    margin-bottom: 15%;
}

.footer{
  background-color: #EC008C;
}
#copyright{
  color: #FFFFFF; 
  font-size: 10pt;
  }